
.page-title {
  font-size: 30px;
  font-weight: 600;
  color: #1f2937;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  color: #374151;
}

.weather-label {
  font-size: 14px;
  font-weight: 500;
  
  color: white;
}

.value {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.secondary {
  font-size: 14px;
  color: #6b7280;
}

.error {
  font-size: 14px;
  color: #dc2626;
}

.weather-current {
  background-color: dodgerblue;
  border: 1px solid #d1d5db;
  width: 450px;
  height: 250px;
  margin: 20px;
  padding: 30px;
  padding: 30px;
}}
